body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
}

#pendulumCanvas {
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 20px;
}

#controls {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

label {
    display: block;
    margin: 5px 0;
}

input[type="range"],
input[type="number"],
input[type="checkbox"] {
    width: 100%;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    width: auto;
    margin-left: 0; /* Align checkbox with label */
}

button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


#startBtn {
    width: 100px; /* Fixed width */
    height: 40px; /* Fixed height */
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#startBtn:hover {
    background-color: #0056b3;
}